<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>

<h1 style="text-align:center;">Add New Student</h1>

<form action="/add_student" method="POST" style="width:400px;margin:auto;">

    <label>Student ID</label><br>
    <input type="text" name="student_id" required><br><br>

    <label>Full Name</label><br>
    <input type="text" name="fullname" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Add Student</button>

</form>

<p style="text-align:center;margin-top:20px;">
    <a href="/students">Back to Students</a>
</p>

</body>
</html>