<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kigezi High School Online Voting System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 <link rel="icon" type="image/x-icon" href="/logo.jpg">

<body>

<div class="container">

    <h1>Kigezi High School</h1>

    <h2>ONLINE VOTING SYSTEM</h2>

    <p>
        Welcome to the official online voting system.
        Please login to cast your vote.
    </p>

    <div class="buttons">
        <a href="/login" class="btn">Student Login</a>

        <a href="/admin" class="btn">Admin Login</a>
    </div>

</div>

</body>
</html>